# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Backend
backend/target/
backend/.mvn/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Logs
*.log
logs/

# Environment files
.env
.env.local
*.env

